<h2 class="profile-heading">Search results</h2>

<div class="col-10 offset-1 family-members">
  <% if @results == [] %>
    <p>No results found</p>
  <% else %>
    <% @results.each do |user| %>
      <% if user.firstname != current_user.firstname %>
        <div class="d-inline-block m-3">
          <% if User.find(user).avatar.present? %>
            <%= image_tag User.find(user).avatar_url(:thumb), class: 'avatar family-avatar' %>
          <% else %>
            <%= image_tag 'default_avatar.jpg', class: 'avatar family-avatar' %>
          <% end %>
          <br />
          <span class="bold">
            <%= "#{User.find(user).firstname} #{User.find(user).lastname}"  %>
          </span>
          <%= form_tag ({controller: 'friends', action: 'create', method: 'post', id: user.id}) do %>
            <input class="" type=submit value='Add friend'>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>