<p>Hi Danny,</p>

<p>Welcome to Family Photo Feed.</p>

<p>You can now do the following:</p>
<ul>
  <li>Log in</li>
  <li>Upload photos</li>
  <li>Invite people to your family</li>
  <li>Accept family requests from others</li>
  <li>View and comment on photos uploaded by you and your family members</li>
  <li>Upload your avatar and manage your profile</li>
</ul>

<p>Please feel free to bookmark the link below in your favorite browser to get back to the site:</p>

<p>http://localhost:3000/</p>

<p>Happy sharing!</p>