<h3>Hi <%= @user.firstname %>,</h3>

<p style="margin-bottom: 0;">Welcome to</p>
<div class="brand mb-4">
  <a href="<%= root_url %>">
    <span class="mr-1 fpf-blue">family</span><span class="mr-1 fpf-green">photo</span><span class="fpf-blue">feed</span>
  </a>
</div>

<p>You can now do the following:</p>
<ul>
  <li>Log in</li>
  <li>Upload photos</li>
  <li>Invite people to your family</li>
  <li>Accept family requests from others</li>
  <li>View photos uploaded by your family members</li>
  <li>Comment on photos uploaded by you and your family members</li>
  <li>Upload your avatar and manage your profile</li>
</ul>

<p>Please feel free to bookmark the link below in your favorite browser to get back to the site:</p>

<%= link_to 'www.familyphotofeed.com', root_url, class: 'button mb-4' %>

<h3 style="margin-top: 20px;">Happy sharing!</h3>
