<div class="mt-3 mt-sm-0 py-0 py-sm-5">
  <% @allowed_posts.each do |post| %>
    <div class="thumb-container thumb-container-size">
      <%= link_to post_path(post) do %>
        <%= image_tag post.photo_url(:thumb), class: 'thumbnail mr-4' if post.photo.present? %>
      <% end %>
    </div>
  <% end %>
</div>