<div class="pt-4 py-0 pb-0 py-sm-5">
  <% @posts.each do |post| %>
    <% if current_user %>
      <% if post.user == current_user || post.user.friends_with?(current_user) %>
        <div class="thumb-container thumb-container-size">
          <%= link_to post_path(post) do %>
            <%= image_tag post.photo_url(:thumb), class: 'thumbnail' if post.photo.present? %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="thumb-container thumb-container-size">
        <%= link_to new_user_session_path do %>
          <%= image_tag post.photo_url(:blurred), class: 'thumbnail' if post.photo.present? %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>