@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat:400,500,600,700');

body {
  font-family: 'Montserrat', verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  // line-height: 18px;
  background-color: #fafafa;
  margin-bottom: 30px;
}

p, ol, ul, td {
  // font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  // font-size: 11px;
}

a {
  color: #125688;

  &:hover {
    text-decoration: none;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    // font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    // font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.top-nav {
  background-color: white;
  border-bottom-color: #edeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 70px;
  padding-top: 15px;
}

.brand {
  font-family: 'Comfortaa', verdana, arial, helvetica, sans-serif;

  a {
  color: #125688;
  font-size: 36px;
  // font-weight: 600;
  }
}

.brand-green a {
  color: #128856;
}

.add {
  margin-top: 10px;

  a {
    font-size: 16px;
    font-weight: 500;
    padding-left: 15px;
  }
}

.emphasis {
  font-weight: 500;
}

.post-header {
  padding: 10px;
}

.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;
}

.card p, .card .message {
  // font-size: 18px;
  margin: 20px;
}

.card.form {
  padding: 20px;
}

label {
  font-size: 18px;
}

input {
  font-size: 18px;
  font-weight: 400;
}

.green-btn {
  background-color: #128856;
  width: 100%;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

.blue-btn {
  background-color: #125688;
  width: 100%;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

.post-actions a {
  font-weight: 500;
  font-size: 14px;
  margin-right: 10px;
  margin-left: auto;
}
