@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat:400,500,600,700');

// * {
//   border: 1px solid lightgray;
// }

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Montserrat', verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  background-color: #fafafa;
  margin-bottom: 55px;
}

a {
  color: #125688;

  &:hover {
    color: #488BBD;
    text-decoration: none;
  }
}

.navbar {
  background-color: white;
  border-bottom-color: #edeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.navbar-brand {
  font-family: 'Comfortaa', verdana, arial, helvetica, sans-serif;
  font-size: 2.25em;
}

.navbar-light .navbar-brand {
  color: #125688;

  &:hover {
    color: #125688;
  }
}

.navbar-light .navbar-brand.navbar-brand-green {
  color: #128856;
}

.navbar-light .navbar-nav .nav-link {
  color: #125688;

  &:hover {
    color: #488BBD;
    text-decoration: none;
  }
}

.nav-link, strong, .strong {
  font-weight: 500;
}

.custom-toggler.navbar-toggler { 
  border-color: #125688; 
  border-width: 2px;
} 

.custom-toggler .navbar-toggler-icon { 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(18, 86, 136, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

.icons {
  color: #125688;
}

.form-reg {
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.form-upload {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
}

.btn-blue {
  background-color: #125688;
  color: #fff;

  &:hover {
    color: #5B92BA;
  }
}

.btn-outline-blue {
  border: 1px solid #125688;
  background-color: #fff;
  color: #125688;

  &:hover {
    background-color: #125688;
    color: #fff;
  }
}

.btn-green {
  background-color: #128856;
  color: white;

  &:hover {
    color: #5DBA92;
  }
}

.btn-outline-green {
  border: 1px solid #128856;
  background-color: #fff;
  color: #128856;

  &:hover {
    background-color: #128856;
    color: #fff;
  }
}

.btn-danger:hover {
  background-color: #DC3545;
  color: #e2a4aa;
}

.btn-300 {
  width: 300px;
}

.thumb-container {
  display: inline-block;
  width: 180px;
  height: 180px;
  position: relative;
}

.thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  background-color: #fff;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

img {
  margin: 5px;
}

// temp fix until I can figure out the margins/padding issue
.post-photo-container {
  padding-right: 10px;
}

// this is the max height the textarea input for comments can be raised
#comment_message {
  max-height: 108px;
}

.tiny-thumb {
  border-radius: .25rem;
}

.avatar {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  background-color: #fff;
  margin: 0;
}

.family-avatar {
  max-width: 200px;
  max-height: 200px;
}

.family-avatar-container {
  display: inline-block;
  margin: 0 10px;
}

.footer {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top-color: #edeeee;
  border-top-width: 1px;
  border-top-style: solid;
}

@media only screen and (max-width: 394px) {
  .footer {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 395px) {
  .footer {
    font-size: 1em;
  }
}

@media only screen and (max-width: 418px) {
  .navbar-brand {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 767px) {
  .section {
    border-right: 1px solid #fafafa;
  }
}

@media only screen and (min-width: 767px) {
  .section {
    border-right: 1px solid #f1f1f1;
  }
}
