@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat:400,500,600,700');

body {
  font-family: 'Montserrat', verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  background-color: #fafafa;
}

a {
  color: #125688;

  &:hover {
    color: #488BBD;
    text-decoration: none;
  }
}

.top-nav {
  background-color: white;
  border-bottom-color: #edeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 70px;
  padding-top: 15px;
}

.brand {
  font-family: 'Comfortaa', verdana, arial, helvetica, sans-serif;

  a {
  color: #125688;
  font-size: 36px;
  }
}

.brand-green a {
  color: #128856;
}

.add {
  margin-top: 10px;

  a {
    font-size: 16px;
    padding-left: 15px;
  }
}

.bold {
  font-weight: 500;
}

.post-header {
  padding: 10px;
}

.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
}

.card.form {
  padding: 20px;
  margin-top: 100px;
}

label {
  font-size: 18px;
}

input {
  font-size: 18px;
}

.btn {
  width: 100%;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

.btn-blue {
  background-color: #125688;
}

.btn-green {
  background-color: #128856;
}

.btn-half {
  width: 50%;
}

// this is where I'm stuck
.content-area {
  margin: 0 13px;
  // padding: 5 15px;
}

.thumb-container {
  display: inline-block;
  width: 170px;
  height: 170px;
  position: relative;
}

.thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  background-color: #fff;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

img {
  padding: 5px;
}

.post-actions a {
  font-size: 14px;
  margin-right: 10px;
  margin-left: auto;
}

.comments {
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 97%; /* there must be a better way to do this */
}

.comment {
  margin-top: 5px;
}

.comment_handle {
  color: #125688;
  font-weight: 500;
}
