<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Montserrat:400,500,600,700" rel="stylesheet">
    <style>
      body {
        font-family: 'Montserrat', verdana, arial, helvetica, sans-serif;
        font-size: 16px;
      }
      a {
        text-decoration: none;
      }
      a, h3, strong {
        font-weight: 500;
      }
      .brand {
        font-family: 'Comfortaa', verdana, arial, helvetica, sans-serif; 
        font-size: 2.25em;
      }
      .mr-1 {
        margin-right: 0.25rem;
      }
      .mb-4 {
        margin-bottom: 1rem;
      }
      .fpf-blue {
        color: #125688;
      }
      .fpf-green {
        color: #128856;
      }
      .button {
        border: 1px solid #125688;
        border-radius: 4px;
        background-color: #fff;
        color: #125688;
        padding: 10px;
        cursor: pointer;
      }
      .button:hover {
        background-color: #125688;
        color: #fff;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
